  text-align: center;
}

.service-card img {
  width: 100%;
  border-radius: 25px;
}

.service-card p {
  margin-top: 10px;
  font-weight: 600;
}

/* ABOUT */
.about {
  padding: 70px 40px;
  max-width: 800px;
}

/* TEAM */
.team {
  padding: 70px 40px;
}

.team-grid {
  display: flex;
  gap: 30px;
}

.team-card {
  width: 220px;
  text-align: center;
}

.team-card img {
  width: 100%;
  border-radius: 25px;
}

.team-card span {
  font-size: 14px;
  color: #777;
}

/* FOOTER */
.footer {
  display: flex;
  justify-content: space-between;
  padding: 50px 40px;
  background: #f5f5f5;
}

.footer-box a {
  display: block;
  text-decoration: none;
  color: #000;
  margin-top: 6px;
}
